/*
	General CSS rules
*/

html,
body,
#app {
	margin: 0;
	padding: 0;
	background: rgb(245, 245, 245);
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
ul,
h1,
h2,
h3,
figure {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	transition: all 0.2s ease-out;
}

.container {
	display: flex;
	width: 1400px;
	margin: auto;
}

@media only screen and (max-width: 1700px) {
	.container {
		width: 1000px;
	}
}

@media only screen and (max-width: 1400px) {
	.container {
		width: 90%;
	}
}

/*
	Section styles
*/

.section {
	padding: 76px 0 0 0;
}

.section-title {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
}

.section-title .vertical-bar {
	width: 5px;
	height: 40px;
	background: red;
	margin-right: 20px;
}

.section-title .title {
	font-size: 30pt;
	margin: 0;
	padding: 0;
	color: rgb(70, 70, 70);
}

.section-paragraph {
	margin: 0;
	padding: 0 0 20px 0;
	text-align: justify;
	color: rgb(85, 85, 85);
}