/*
	General CSS rules
*/

html,
body,
#app {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	width: 1400px;
	margin: auto;
}

@media only screen and (max-width: 1700px) {
	.container {
		width: 1000px;
	}
}

@media only screen and (max-width: 1400px) {
	.container {
		width: 90%;
	}
}